<script type="text/javascript" src="/js/updateQuestionOptions.js"></script>
<h1>建立題目</h1>

<%= simple_form_for @question, url: paper_questions_path do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :order, input_html: {value: @auto_num},label: '題號' %>
  <%= f.input :title,as: :text,input_html:{rows: 5}, label: '題幹' %>
  <%= f.input :title_attr,as: :file, label: '附檔' %>
  <%= f.input :question_type, collection: [ "單選", "複選", "非選"], :label => "題型", :include_blank => false %>
  <div id="option-board">
    <%= f.input :questionA, :input_html => { :class => "question_option" },label: '選項A' %>
    <%= f.input :questionA_attr,as: :file, label: '附檔' %>
    <%= f.input :questionB, :input_html => { :class => "question_option" }, label: '選項B' %>
    <%= f.input :questionB_attr,as: :file, label: '附檔' %>
    <%= f.input :questionC, :input_html => { :class => "question_option" }, label: '選項C' %>
    <%= f.input :questionC_attr,as: :file, label: '附檔' %>
    <%= f.input :questionD, :input_html => { :class => "question_option" }, label: '選項D' %>
    <%= f.input :questionD_attr,as: :file, label: '附檔' %>
  </div>
  <div id="option-buttons">
    <span id="add-option"><img src="/plus.png" class="pixel-icon"> 新增選項</span>
    <span id="delete-option"><img src="/minus.png" class="pixel-icon"> 刪除選項</span>
  </div>
  <br>
  <br>
  <br>
  <div id="answer-board">
    <%= f.input :answer, collection: [ "A", "B", "C","D"],:item_wrapper_class => 'inline', as: :radio_buttons, label: ' 答案 ' %>
  </div>
  <%= f.input :analysis,as: :text,input_html:{rows: 3}, label: '詳解' %>  
  <%= f.input :analysis_att,as: :file, label: '附檔' %>  
  <%= f.input :analysis_url, label: '影片URL' %>  
  <%= f.input :active,:item_wrapper_class => 'inline', as: :radio_buttons, label: ' 有效性 ' %>
  <%= f.input :paper_id,as: :hidden,input_html: {value: @paper.id} %>  
  <%= f.input :optionCount,as: :hidden,input_html: {value: 4} %>  
  <%= f.button :submit , "送出", class: "btn btn-primary" %>
<% end %>
