<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Title attr:</strong>
  <%= @question.title_attr %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @question.answer %>
</p>

<p>
  <strong>Analysis:</strong>
  <%= @question.analysis %>
</p>

<p>
  <strong>Analysis att:</strong>
  <%= @question.analysis_att %>
</p>

<p>
  <strong>Analysis url:</strong>
  <%= @question.analysis_url %>
</p>

<p>
  <strong>Question type:</strong>
  <%= @question.question_type %>
</p>

<p>
  <strong>Active:</strong>
  <%= @question.active %>
</p>

<p>
  <strong>Optioncount:</strong>
  <%= @question.optionCount %>
</p>

<p>
  <strong>Answer count:</strong>
  <%= @question.answer_count %>
</p>

<p>
  <strong>First correct count:</strong>
  <%= @question.first_correct_count %>
</p>

<p>
  <strong>Questiona:</strong>
  <%= @question.questionA %>
</p>

<p>
  <strong>Questiona attr:</strong>
  <%= @question.questionA_attr %>
</p>

<p>
  <strong>Questionb:</strong>
  <%= @question.questionB %>
</p>

<p>
  <strong>Questionb attr:</strong>
  <%= @question.questionB_attr %>
</p>

<p>
  <strong>Questionc:</strong>
  <%= @question.questionC %>
</p>

<p>
  <strong>Questionc attr:</strong>
  <%= @question.questionC_attr %>
</p>

<p>
  <strong>Questiond:</strong>
  <%= @question.questionD %>
</p>

<p>
  <strong>Questiond attr:</strong>
  <%= @question.questionD_attr %>
</p>

<p>
  <strong>Questione:</strong>
  <%= @question.questionE %>
</p>

<p>
  <strong>Questione attr:</strong>
  <%= @question.questionE_attr %>
</p>

<p>
  <strong>Questionf:</strong>
  <%= @question.questionF %>
</p>

<p>
  <strong>Questionf attr:</strong>
  <%= @question.questionF_attr %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
