<p id="notice"><%= notice %></p>

<p>
  <strong>題幹:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>題幹附圖:</strong>
  <% if @question.title_attr.url != nil%>
  <%= image_tag @question.title_attr.url %>
  <% else %>
</p>

<p>
  <strong>解析:</strong>
  <%= @question.analysis %>
</p>

<p>
  <strong>解析附圖:</strong>
  <% if @question.analysis_att.url != nil %>
  <%= image_tag @question.analysis_att.url %>
  <% end %>
</p>

<p>
  <strong>選項Ａ:</strong>
  <%= @question.questionA %>
</p>

<p>
  <strong>選項Ａ附圖:</strong>
  <% if @question.questionA_attr.url != nil %>
  <%= image_tag @question.questionA_attr.url %>
  <% end %>
</p>

<p>
  <strong>選項Ｂ:</strong>
  <%= @question.questionB %>
</p>

<p>
  <strong>選項Ｂ附圖:</strong>
  <% if @question.questionB_attr.url != nil %>
  <%= image_tag @question.questionB_attr.url %>
  <% end %>
</p>

<p>
  <strong>選項Ｃ:</strong>
  <%= @question.questionC %>
</p>

<p>
  <strong>選項Ｃ附圖:</strong>
  <% if @question.questionC_attr.url != nil %>
  <%= image_tag @question.questionC_attr.url %>
  <% end %>
</p>

<p>
  <strong>選項Ｄ:</strong>
  <%= @question.questionD %>
</p>

<p>
  <strong>選項Ｄ附圖::</strong>
  <% if @question.questionD_attr.url != nil %>
  <%= image_tag @question.questionD_attr.url %>
  <% end %>
</p>

<p>
  <strong>選項Ｅ:</strong>
  <%= @question.questionE %>
</p>

<p>
  <strong>選項Ｅ附圖::</strong>
  <% if @question.questionE_attr.url != nil %>
  <%= image_tag @question.questionE_attr.url %>
  <% end %>
</p>

<p>
  <strong>選項Ｆ:</strong>
  <%= @question.questionF %>
</p>

<p>
  <strong>選項Ｆ附圖::</strong>
  <% if @question.questionF_attr.url != nil %>
  <%= image_tag @question.questionF_attr.url %>
  <% end %>
</p>

