<p id="notice"><%= notice %></p>

<h1>Papersubject Subjectships</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @papersubject_subjectships.each do |papersubject_subjectship| %>
      <tr>
        <td><%= link_to 'Show', papersubject_subjectship %></td>
        <td><%= link_to 'Edit', edit_papersubject_subjectship_path(papersubject_subjectship) %></td>
        <td><%= link_to 'Destroy', papersubject_subjectship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Papersubject Subjectship', new_papersubject_subjectship_path %>
