<%= form_for(writing_question) do |f| %>
  <% if writing_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(writing_question.errors.count, "error") %> prohibited this writing_question from being saved:</h2>

      <ul>
      <% writing_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :title_attr %>
    <%= f.text_field :title_attr %>
  </div>

  <div class="field">
    <%= f.label :analysis %>
    <%= f.text_field :analysis %>
  </div>

  <div class="field">
    <%= f.label :analysis_att %>
    <%= f.text_field :analysis_att %>
  </div>

  <div class="field">
    <%= f.label :analysis_url %>
    <%= f.text_field :analysis_url %>
  </div>

  <div class="field">
    <%= f.label :active %>
    <%= f.text_field :active %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
