<p id="notice"><%= notice %></p>

<h1>Writing Questions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Title attr</th>
      <th>Analysis</th>
      <th>Analysis att</th>
      <th>Analysis url</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @writing_questions.each do |writing_question| %>
      <tr>
        <td><%= writing_question.title %></td>
        <td><%= writing_question.title_attr %></td>
        <td><%= writing_question.analysis %></td>
        <td><%= writing_question.analysis_att %></td>
        <td><%= writing_question.analysis_url %></td>
        <td><%= writing_question.active %></td>
        <td><%= link_to 'Show', writing_question %></td>
        <td><%= link_to 'Edit', edit_writing_question_path(writing_question) %></td>
        <td><%= link_to 'Destroy', writing_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Writing Question', new_writing_question_path %>
