<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @writing_question.title %>
</p>

<p>
  <strong>Title attr:</strong>
  <%= @writing_question.title_attr %>
</p>

<p>
  <strong>Analysis:</strong>
  <%= @writing_question.analysis %>
</p>

<p>
  <strong>Analysis att:</strong>
  <%= @writing_question.analysis_att %>
</p>

<p>
  <strong>Analysis url:</strong>
  <%= @writing_question.analysis_url %>
</p>

<p>
  <strong>Active:</strong>
  <%= @writing_question.active %>
</p>

<%= link_to 'Edit', edit_writing_question_path(@writing_question) %> |
<%= link_to 'Back', writing_questions_path %>
