<%= simple_form_for(paper_subject) do |f| %>
  <% if paper_subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paper_subject.errors.count, "error") %> prohibited this paper_subject from being saved:</h2>

      <ul>
      <% paper_subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, label: '試卷科目名稱' %>
  <%= f.input :title_view, label: '顯示名稱' %>
  <% if paper_subject.active != nil %>
  <%= f.input :active,:item_wrapper_class => 'inline', as: :radio_buttons, label: '有效性' %>
  <% else %>
  <%= f.input :active,:item_wrapper_class => 'inline',:checked => ['無效', false], as: :radio_buttons, label: '有效性' %>
  <% end %>  
    <div class="form-group string optional subjects">
      <label class="control-label string optional" for="subjects">配對科目</label>
      <% @subjects.each do |s| %>
        <%= check_box_tag :subject_ids,s.id, f.object.subjects.include?(s), :name => "paper_subject[subject_ids][]" %>
        <%= s.name %>
      <% end %>
    </div>
  <%= f.button :submit , "送出", class: "btn btn-primary" %>
    <a href="/paper_subjects"><button class= "btn btn-primary">上一頁</button></a>
<% end %>
