<p id="notice"><%= notice %></p>

<h1>試卷科目管理</h1>

<table class="table">
  <thead>
    <tr>
      <th>試卷科目</th>
      <th>顯示科目</th>
      <th>對應科目</th>
      <th></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @paper_subjects.each do |paper_subject| %>
      <tr class="warning">
        <td><span class="column-name"><%= paper_subject.title %></span></td>
        <td><span class="column-name"><%= paper_subject.title_view %></span></td>
        <td><span class="column-name"><%= paper_subject.subject.name %></span></td>
        <td><%= paper_subject.active %></td>
        <td><%= link_to 'Edit', edit_paper_subject_path(paper_subject) %></td>
        <td><%= link_to 'Destroy', paper_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paper Subject', new_paper_subject_path %>
