<p id="notice"><%= notice %></p>

<h1>試卷科目管理</h1>

<table class="table">
  <thead>
    <tr>
      <th>試卷科目</th>
      <th>顯示科目</th>
      <th>對應科目</th>
      <th></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @paper_subjects.each do |paper_subject| %>
      <tr class="warning">
        <td><span class="column-name"><%= paper_subject.title %></span></td>
        <td><span class="column-name"><%= paper_subject.title_view %></span></td>
        <td><span class="column-name">
        <% paper_subject.subjects.each do |ps| %>
          <%= ps.name %>,
        <% end %>
        </span></td>
        <td>
        <% if paper_subject.active == true%>
        已啟用
        <% else %>
        未啟用
        <% end %>
        </td>
        <td><%= link_to '編輯', edit_paper_subject_path(paper_subject) %></td>
        <td><%= link_to '刪除', paper_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增試卷科目', new_paper_subject_path %>
