<h2>修改密碼</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "請輸入當前密碼", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "送出" %>
  </div>
<% end %>

