<%= form_for(selection_question) do |f| %>
  <% if selection_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(selection_question.errors.count, "error") %> prohibited this selection_question from being saved:</h2>

      <ul>
      <% selection_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :title_attr %>
    <%= f.text_field :title_attr %>
  </div>

  <div class="field">
    <%= f.label :answer %>
    <%= f.text_field :answer %>
  </div>

  <div class="field">
    <%= f.label :analysis %>
    <%= f.text_field :analysis %>
  </div>

  <div class="field">
    <%= f.label :analysis_att %>
    <%= f.text_field :analysis_att %>
  </div>

  <div class="field">
    <%= f.label :analysis_url %>
    <%= f.text_field :analysis_url %>
  </div>

  <div class="field">
    <%= f.label :question_type %>
    <%= f.text_field :question_type %>
  </div>

  <div class="field">
    <%= f.label :active %>
    <%= f.text_field :active %>
  </div>

  <div class="field">
    <%= f.label :optionCount %>
    <%= f.number_field :optionCount %>
  </div>

  <div class="field">
    <%= f.label :answer_count %>
    <%= f.number_field :answer_count %>
  </div>

  <div class="field">
    <%= f.label :first_correct_count %>
    <%= f.number_field :first_correct_count %>
  </div>

  <div class="field">
    <%= f.label :questionA %>
    <%= f.text_field :questionA %>
  </div>

  <div class="field">
    <%= f.label :questionA_attr %>
    <%= f.text_field :questionA_attr %>
  </div>

  <div class="field">
    <%= f.label :questionB %>
    <%= f.text_field :questionB %>
  </div>

  <div class="field">
    <%= f.label :questionB_attr %>
    <%= f.text_field :questionB_attr %>
  </div>

  <div class="field">
    <%= f.label :questionC %>
    <%= f.text_field :questionC %>
  </div>

  <div class="field">
    <%= f.label :questionC_attr %>
    <%= f.text_field :questionC_attr %>
  </div>

  <div class="field">
    <%= f.label :questionD %>
    <%= f.text_field :questionD %>
  </div>

  <div class="field">
    <%= f.label :questionD_attr %>
    <%= f.text_field :questionD_attr %>
  </div>

  <div class="field">
    <%= f.label :questionE %>
    <%= f.text_field :questionE %>
  </div>

  <div class="field">
    <%= f.label :questionE_attr %>
    <%= f.text_field :questionE_attr %>
  </div>

  <div class="field">
    <%= f.label :questionF %>
    <%= f.text_field :questionF %>
  </div>

  <div class="field">
    <%= f.label :questionF_attr %>
    <%= f.text_field :questionF_attr %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
