<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @selection_question.title %>
</p>

<p>
  <strong>Title attr:</strong>
  <%= @selection_question.title_attr %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @selection_question.answer %>
</p>

<p>
  <strong>Analysis:</strong>
  <%= @selection_question.analysis %>
</p>

<p>
  <strong>Analysis att:</strong>
  <%= @selection_question.analysis_att %>
</p>

<p>
  <strong>Analysis url:</strong>
  <%= @selection_question.analysis_url %>
</p>

<p>
  <strong>Question type:</strong>
  <%= @selection_question.question_type %>
</p>

<p>
  <strong>Active:</strong>
  <%= @selection_question.active %>
</p>

<p>
  <strong>Optioncount:</strong>
  <%= @selection_question.optionCount %>
</p>

<p>
  <strong>Answer count:</strong>
  <%= @selection_question.answer_count %>
</p>

<p>
  <strong>First correct count:</strong>
  <%= @selection_question.first_correct_count %>
</p>

<p>
  <strong>Questiona:</strong>
  <%= @selection_question.questionA %>
</p>

<p>
  <strong>Questiona attr:</strong>
  <%= @selection_question.questionA_attr %>
</p>

<p>
  <strong>Questionb:</strong>
  <%= @selection_question.questionB %>
</p>

<p>
  <strong>Questionb attr:</strong>
  <%= @selection_question.questionB_attr %>
</p>

<p>
  <strong>Questionc:</strong>
  <%= @selection_question.questionC %>
</p>

<p>
  <strong>Questionc attr:</strong>
  <%= @selection_question.questionC_attr %>
</p>

<p>
  <strong>Questiond:</strong>
  <%= @selection_question.questionD %>
</p>

<p>
  <strong>Questiond attr:</strong>
  <%= @selection_question.questionD_attr %>
</p>

<p>
  <strong>Questione:</strong>
  <%= @selection_question.questionE %>
</p>

<p>
  <strong>Questione attr:</strong>
  <%= @selection_question.questionE_attr %>
</p>

<p>
  <strong>Questionf:</strong>
  <%= @selection_question.questionF %>
</p>

<p>
  <strong>Questionf attr:</strong>
  <%= @selection_question.questionF_attr %>
</p>

<%= link_to 'Edit', edit_selection_question_path(@selection_question) %> |
<%= link_to 'Back', selection_questions_path %>
