<h2>建立使用者</h2>
<p id="notice"><%= notice %></p>
<%= simple_form_for @user, url: home_index_path do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
    <%= render 'role_select', role: @admin_role, role_array: @role_array_admin,label: @label[0], f: f %>
    <%= render 'role_select', role: @platform_role, role_array: @role_array_platform,label: @label[1] , f: f%>
    <%= render 'role_select', role: @team_role, role_array: @role_array_team,label: @label[2] , f: f%>
  </div>

  <a class="btn btn-primary" target="_blank" href="/home/function/team/">團隊管理</a>
  <br>
  <br>
  <div class="form-actions">
    <%= f.button :submit, "送出" %>
  </div>
<% end %>

