<%= simple_form_for(paper) do |f| %>
  <% if paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paper.errors.count, "error") %> prohibited this paper_subject from being saved:</h2>

      <ul>
      <% paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <%= f.input :title, label: '試卷名稱' %>
  <div class="form-group string optional grade">
    <label class="control-label string optional" for="grade">年級</label><br>
      <% Grade.all.each do |g| %>
        <%= check_box_tag :grade_ids,g.id, f.object.grades.include?(g), :name => "paper[grade_ids][]",class:"boolean optional" %>
        <%= g.name %>
      <% end %>
  </div>
  <%= f.input :paper_subject_id, :collection => PaperSubject.all,:value_method => :id,:label_method => :title,:label => "試卷科目", :include_blank => false %>
  <%= f.input :visible, collection: [ "免費可見", "購點後可見", "付費可見"], :label => "可見性設定", :include_blank => false %>
  <%= f.input :public_date,as: :date, html5: true, label: '上架日期' %>
  <%= f.input :note, label: '備註' %>
  <%= f.input :active,:item_wrapper_class => 'inline', as: :radio_buttons, label: '有效性' %>
  <%= f.button :submit , "送出", class: "btn btn-primary" %>
<% end %>