<script>

$(function(){
  $("#batch-active").click(function(){
    var paper_ids = []
    $(".paper_id:checked").each(function(){
      paper_ids.push($(this).val());
    });
    for(var i=0; i < paper_ids.length;i++){
      $.ajax({
      type: "POST",
      url: "/papers/"+paper_ids[i],
      dataType: "script",
      contentType: 'application/json',
      data: JSON.stringify({ active:true, _method:'put' })
      }).success(function(data){
      })
    }
  });
  $("#batch-inactive").click(function(){
    var paper_ids = []
    $(".paper_id:checked").each(function(){
      paper_ids.push($(this).val());
    });
    for(var i=0; i < paper_ids.length;i++){
      $.ajax({
      type: "POST",
      url: "/papers/"+paper_ids[i],
      dataType: "script",
      contentType: 'application/json',
      data: JSON.stringify({ active:false, _method:'put' })
      }).success(function(data){
      })
    }
  });
  $("#check-all").click(function(){
    $(".paper_id").each(function(){
      $(this).attr("checked","checked")
    });
  })

})

</script> 

<p id="notice"><%= notice %></p>

<h1>試卷管理</h1>
<button class="btn btn-primary"><%= link_to '新增試卷', new_paper_path %></button>
<button class="btn btn-success" id="batch-active">批次有效</button>
<button class="btn btn-danger" id="batch-inactive">批次無效</button>
<table class="table">
  <thead>
    <tr>
      <th><button class="btn btn-info" id="check-all">全選</button></th>
      <th>試卷科目</th>
      <th>年級</th>      
      <th>試卷名稱</th>
      <th>可見性設定</th>
      <th>上架日期</th>
      <th>備註</th>
      <th>有效性</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr class="warning">
        <td><input type="checkbox" class="paper_id" value=<%= paper.id %>></td>
        <td class="column-name"><%= paper.paper_subject.title %></td>
        <td><span class="column-name">
        <% paper.grades.each do |g| %>
          <%= g.name %>,
        <% end %>
        </span></td>
        <td class="column-name"><%= paper.title %></td>
        <td class="column-name"><%= paper.visible %></td>
        <td class="column-name"><%= paper.public_date %></td>
        <td class="column-name"><%= paper.note %></td>
        <td>
        <% if paper.active == true%>
        <span class="active">已啟用</span>
        <% else %>
        <span class="inactive">未啟用</span>
        <% end %>
        </td>
        <td><%= link_to '編輯', edit_paper_path(paper) %></td>
        <td><%= link_to '刪除', paper, method: :delete, data: { confirm: '你確定?' } %></td>
        <td><%= link_to "Ad details", paper_questions_path(paper) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

